
.home {
  text-align: center;
}

body{
  font: 400 14px Roboto,Montserrat,Baloo, sans-serif;
  background: #dcc7aa;
  -webkit-font-smoothing: antialiased;
}
nav{
  background-color: #f7c331;
  height: 40px;
}
